.card {
  width: 100%;
  background-color: #ffff;
  -webkit-box-shadow: 9px 14px 60px -10px rgba(222, 222, 222, 1);
  -moz-box-shadow: 9px 14px 60px -10px rgba(222, 222, 222, 1);
  box-shadow: 9px 14px 60px -10px rgba(222, 222, 222, 1);
  border-radius: 20px;
  display: flex;
}

.details {
  display: grid;
  grid-template-rows: max-content;
  margin: 15px;
  grid-template-rows: max-content;
}

.details h2 {
  margin-bottom: 10px;
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}
.details p {
  font-size: 14px;
  color: var(--darkgray);
  font-weight: 300;
}
.card button {
  display: flex;
  background: var(--purple);
  color: white;
  font-size: 12px;
  padding: 14px 20px;
  border: none;
  outline: none;
  width: 120px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  align-self: end;
}

.card .thumbnail {
  width: 190px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  min-width: 190px;
  background: var(--ghostGray);
}

button .arrow {
  width: 7px;
}
