@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --lightgray: #eceff2;
  --gray: #757575;
  --purple: #413e83;
  --orange: #ff9632;
  --green: #218169;
  --blue: #386082;
  --darkgray: #434343;
}
body {
  font-family: "Open Sans", sans-serif;
  background: var(--lightgray);
  padding-bottom: 200px;
}

.top-section {
  background-color: var(--green);
  position: relative;
  z-index: -1;
}

.top-section .image {
  position: absolute;
  top: 0;
  right: 0;
  width: 20vw;
  opacity: 0.3;
}

.top-section-content {
  padding-bottom: 72px;
}

.breadcrums {
  display: flex;
  list-style-type: none;
  color: white;
  padding: 10px 0;
  font-size: 12px;
}

.top-section {
  color: white;
}

.top-section h1 {
  margin: 20px 0;
  font-size: 30px;
}

.top-content {
  max-width: 800px;
  line-height: 1.6em;
  margin-bottom: 20px;
}

.content-card {
  background: white;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 20px;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.content-card h3 {
  border-bottom: 2px solid #eceff2;
  padding-bottom: 7px;
  margin-bottom: 7px;
}

.content-card p {
  padding: 5px 0;
  line-height: 1.6em;
}

.content-card button {
  background-color: var(--purple);
  color: white;
  display: inline-block;
  padding: 12px 25px;
  margin-top: 15px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
  cursor: pointer;
}
.content-card button:hover {
}

.content-cards {
  margin-top: -56px;
}

/* accordion */

.hide {
  display: none;
}
#accordion .answer {
  display: none;
  margin-top: 2%;
}

#accordion {
  background: var(--green);
  color: white;
  max-width: 810px;
  margin: auto;
  padding: 20px;
  cursor: pointer;
}